# Dependencies (ignore all node_modules folders)
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables (private secrets)
.env
*.env

# Build outputs & cache
client/dist/
client/build/
.DS_Store
*.log