PORT=3000
MONGODB_URI = mongodb+srv://alfeeriveraup_db_user:A2sH4sJUQ8jYtguU@cluster0.lk1u6b8.mongodb.net/?appName=Cluster0
JWT_SECRET = f456i@fi13r4r@453423sho@nitorr@yyy675544er4r4t@tt5444353453456345434r345@r345
NODE_ENV = development
EMAIL_USER = fishonitory@gmail.com
EMAIL_PASS = tvuc ivpn qqsi tfex
CLOUDINARY_CLOUD_NAME = rxxsbs7z
CLOUDINARY_API_KEY = 394429491227137
CLOUDINARY_API_SECRET = MFlKbykN7r37sJ9PzL-2Tpw2_CU
TOTP_ENCRYPTION_KEY = fj34hitu3higt85tytro38yht73yi4or3ihg5uty3oi8rhy3498gth3o8fg3h849ptyr3248tr7ur8y3498htr